.container
  %h2 Sign up
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form" }) do |f|
    = devise_error_messages!
    %fieldset
      = f.label :email
      = f.email_field :email, :autofocus => true
    %fieldset
      = f.label :username
      = f.text_field :username
    %fieldset
      = f.label :password
      = f.password_field :password
    %fieldset
      = f.label :password_confirmation
      = f.password_field :password_confirmation
    %fieldset
      = f.submit "Sign up", :class => "btn"
  = render "devise/shared/links"
