.map-container
  .main-control-group.fixed.clearfix
    .container
      .columns.twelve.alpha
        %form.form-inline
          %fieldset
            %label
              Select area
            %select
              %option{ :selected => "selected" }
                All Areas
              %option
                Cebu City
              %option
                Toledo
              %option
                Naga
              %option
                Carcar
          %fieldset
            = label_tag(:search_key, "Search")
            = text_field_tag(:search_key, '' , :placeholder => "Name, Serial number")
            %button.btn.green{ :type => "submit" }
              Search
        

     

  = gmaps("markers" => {"data" => @json})

.main-control-group
  .container
    %h3
      All Areas
    .columns.four.alpha
      %strong
        = GunOwner.count
      gun owners
    .columns.four
      %strong
        = @guns.count
      firearms registered
    .columns.four.omega
      %strong
        = Gun.expired.count
      expired licenses

.container
  = will_paginate @guns
.container
  .content
    %table.table.table-hover.user-table-list
      %thead
        %tr
          %th.span8
            Name
          %th
            Kind / Make / Model
          %th
            Serial Number
          %th
            Expiry date
      %tbody
        - @guns.each do |g|
          %tr{ :class => "#{"warning" if g.expired?}" }
            %td.span8
              %strong
                = link_to g.gun_owner.name, admin_gun_owner_path(g.gun_owner)
              %div
                %small= g.gun_owner.full_address
            %td #{g.kind} #{g.make} #{g.caliber} #{g.model}
            %td= g.serial_number
            %td
              - if g.expired?
                %i.icon-warning-sign.icon-warning
              = g.expiry_date


    = will_paginate @guns
