.top-menu
  .container
    = link_to "F.A.L.", root_url, :class => "logo"
    %ul.menu.right
      - if current_user
        %li= link_to "Home", admin_dashboard_path
        %li= link_to "Upload", new_admin_upload_path
        %li= link_to "Unmapped Addresses", unmapped_addresses_admin_dashboard_path
        %li
          - if user_signed_in?
            = link_to "Logout", destroy_user_session_path, :method => :delete, :class => 'logout'
          - else
            = link_to "Login", new_user_session_path
