.map-container
  .main-control-group.fixed.clearfix
    .container
      .row
        %form.form-inline
          %fieldset
            %label
              Select area
            %select
              %option{ :selected => "selected" }
                All Areas
              %option
                Cebu City
              %option
                Toledo
              %option
                Naga
              %option
                Carcar
          %fieldset
            .form-search
              = label_tag(:search_key, "Search")
              = text_field_tag(:search_key, '' , :placeholder => "Name, Serial number")
          %fieldset.pull-right.main-control-actions
            %a.btn
              %i.icon-print
            %a.btn
              %i.icon-external-link

  = gmaps4rails(@json)

.main-stats
  .container
    .row
      .span12
        %h3
          Cebu City
      .span4
        %strong
          5,343
        gun owners

      .span4
        %strong
          42
        expired licenses

.container
  .row
    .span12
      = will_paginate @guns

      %table.table.table-hover.user-table-list
        %thead
          %tr
            %th.span8
              Name
            %th
              Kind / Make / Model
            %th
              Serial Number
            %th
              Expiry date
        %tbody
          %tr.warning
            %td.span8
              %strong
                ENRILE, RENE HARVEY
              %div
                %small
                  17 MICHELIA ST NORTH TOWNHMS NASIPIT TALAMBAN

            %td
              PISTL NORIN 9MM NZ75
            %td
              343FDDS
            %td
              / add this icon for expired guns
              %i.icon-warning-sign.icon-warning
              2003-02-03

          - @guns.each do |g|
            %tr
              %td.span8
                %strong= link_to g.gun_owner.name, gun_owner(g)
                %div
                  %small
                    = g.gun_owner.address
              %td #{g.kind} #{g.make} #{g.caliber} #{g.model}
              %td= g.serial_number
              %td= g.expiry_date


      = will_paginate @guns
