.container
  .content
    
    = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form bordered labeled" }) do |f|
      %h3.form-title Sign in
      %fieldset
        = f.label :login

        = f.text_field :login, :autofocus => true, :class => "large"
      %fieldset
        = f.label :password

        = f.password_field :password, :class => "large"
      - if devise_mapping.rememberable?
        %fieldset
          %label.checkbox
            = f.check_box :remember_me
            Remember me
      %fieldset
        = render "devise/shared/links"
      %fieldset
        = f.submit "Sign in", :class => "btn green"
    
